*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    height: 120px;
    padding: 20px;
    background: rgb(164, 160, 160,0.8);
    margin-bottom: 20px;  
}   

header a{
    text-decoration: none;
}

.logo{
    height: 80px;
    width: 100px;
    font-size: 40px;
    color: black;
    align-content: center;
    transition: .3s;
    
}

.logo:hover{
    transform: translate(10px);
    color: white;
}

nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
